body {
    margin: 0;
    padding: 0;
    
    background-image: url("Recursos/Logo.png");
    background-size: cover;  
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;
    
    font-family: Perpetua, sans-serif;
}

header {
    background: linear-gradient(90deg, #030303, #030303, #1e0a0a);
    color: rgb(220, 220, 220);
    text-align: center;
    padding: 25px;
}

.logo-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.logo-faro {
    width: 80px;
    height: 80px;
    background: rgb(5, 5, 5);
    border-radius: 50%;
    padding: 8px;
    box-shadow: 0 4px 12px rgba(110, 20, 20, 0.35);
}

.contenedor-header h1 {
    margin-bottom: 10px;
    font-size: 2.5em;
}

.contenedor-header p {
    font-size: 1.1em;
}

nav {
    background-color: #1e0a0a;
    padding: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: rgb(240, 194, 12);
    font-weight: bold;
    font-size: 1.1em;
}

nav a:hover {
    color: #ffd166;
}

main {
    width: 90%;
    max-width: 1200px;
    margin: 30px auto;
}

section {
    background-color: #1a1a1a;
    color: rgb(249, 248, 249);
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 6px 18px rgba(255, 255, 255, 0.08);
}

section h2 {
    margin-bottom: 20px;
    color: #ffd166;
    border-left: 8px solid #ff6b6b;
    padding-left: 12px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table th {
    background-color: #070707;
    color: white;
    padding: 14px;
    text-align: left;
}

table td {
    padding: 14px;
    border-bottom: 1px solid #444;
}

table tr:nth-child(even) {
    background-color: #222222;
}

table tr:hover {
    background-color: #333333;
}

.multimedia {
    margin-top: 25px;
}

.multimedia h3 {
    margin: 15px 0 10px;
    color: #c49e07;
}

video,
audio {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    display: block;
}

.nota-multimedia {
    margin-top: -8px;
    margin-bottom: 16px;
    color: #d6d6d6;
}

article {
    background: #222222;
    border-left: 8px solid #ffb347;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
}

article h3 {
    color: #4facfe;
    margin-bottom: 10px;
}

article p {
    margin-bottom: 8px;
}

footer {
    background-color: #1e0a0a;
    color: white;
    text-align: center;
    padding: 18px;
    margin-top: 20px;
}
